*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", Helvetica, sans-serif;
}
body{
  max-width: 1200px;
  margin: auto;
  background-color: #f8f8f8;
}
header{
  background-color: chocolate;
  border-bottom: #edd348 solid 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

h1{
  background-image: url('/imagenes/logo_cel.png');
  width:179px; height:177px;
  margin: 40px 0px;
  text-indent: -1999px;
  overflow: hidden;
}

nav{
  width: 100%;
}
.navbar{
  display: flex;
  flex-direction: row;
}
.navbar li{
  margin:0px 1px;
  display: block;
  background-color: #fda400;
  list-style: none;
  width: 100%;
  padding: 13px ;
  border-radius: 10px 10px 0px 0px;
  text-align: center;
  color: white;
}
main>img{
  width: 100%;
}

h2{
  text-align:  center;
  margin: 70px 0px 20px 0px;
  font-size: 35px;
}

.pastillas{
  display: flex;
  flex-direction: column;
}

.pastillas div{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 30px 0px;
  row-gap: 15px;
}

.pastillas img{
  border-radius: 100%;
}

.pastillas h4{
  font-weight: 300;
  max-width: 310px;
  margin: 0px 30px;
}

.notaPrincipal h2{
  text-align: left;
  margin: 22px;
}

.notaPrincipal p{
  font-size: 18px;
  font-weight: 300;
  text-align: left;
  margin: 22px;
}

.notaPrincipal img{
  width: 100%;
}

.notaPrincipal{
  margin-bottom: 40px;
}

footer{
  background-color: #cfcfcf;
  padding: 60px 0px;
}
footer div p{
  text-align: center;
  margin: 20px;
}

/* Cuando el viewport supere los 799px sucede lo siguiente: */
@media screen and (min-width: 800px) {
  header{
  flex-direction: row;
  padding: 0px 30px;
  }
  header h1{
    margin: 20px 0px;
    background-image: url(/imagenes/logo.png);
  }
  .navbar li{
  margin:0px 5px;
  border-radius: 10px;
  }
  nav{
  width: auto;
  }
  .pastillas{
  flex-direction: row;
  justify-content: center;
  }
  .banner{
    content: url('/imagenes/banner.jpg')
  }
  .notaPrincipal div img{
    content: url('/imagenes/nota_pc1.jpg');
  }
}

@media screen and (min-width: 990px) {
  .notaPrincipal{
    display: flex;
    flex-direction: row;
    margin: 80px 20px;
  }
  .notaPrincipal div{
    width: 50%;
  }
  .notaPrincipal div img{
    content: url('/imagenes/notapc2.jpg');
    align-items: flex-end; 
  }
}